:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

/*Global*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

P {
    color: var(--Grayish-Blue);
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

button {
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    width: 200px;
    height: 50px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    color: var(--Very-Light-Gray);
    border: none;
    border-radius: 40px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

/*Nav Bar*/
.nav-bar-header {
    height: 75px;
    background-color: var(--Very-Light-Gray);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    box-sizing: border-box;
}

.nav-image-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    box-sizing: border-box;
}
.nav-images-child-container {
    margin-left: auto;
}
.nav-bar-items1 {
    display: none;
}
.nav-bar-items{
    padding: 0;
    list-style-type: none;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-top: 4.2vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: var(--White);
    margin: 8% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),  0 7px 20px 0 rgba(0,0,0,0.17);
    border-radius: 5px;
    color: var(--Dark-Blue);
}

.modal-content li {
    margin-bottom: 2%;
}

/*Home Page Section*/
.home-page-section-container {
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 100%;
    box-sizing: border-box;
}

.mockupimg {
    padding: 0 2%;
    box-sizing: border-box;
}
.home-page-section-container-mockupimg {
    width: 100%;
}

.home-page-container1 {
    width: 100%;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.home-page-container1-heading {
    color: var(--Dark-Blue);
    font-size: 40px;
    font-family: 'Public Sans', sans-serif;;
    font-weight: 300;
    line-height: 1.2;
    box-sizing: border-box;
}

.section-button1 {
    margin-top: 18px;
}

.mockupDisplay {
    display: none;
}

.closeicon {
    display: none;
}

.desktop-header-button {
    display: none;
}
/*Why Choose Bank Section*/

.wcb-background-container {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
    display: flex;
    flex-direction:column;
    width: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.wcb-background-container > div {
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.wcb-background-container > div h2 {
    color: var(--Dark-Blue);
    font-size: 36px;
    font-family: 'Public Sans', sans-serif;;
    font-weight: 300;
    line-height: 1.2;
}

.wcb-background-container > div h3 {
    color: var(--Dark-Blue);
    font-size: 28px;
    font-family: 'Public Sans', sans-serif;;
    font-weight: 100;

}

/*Articles Section*/
.article-bg-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-sizing: border-box;
}

.article-bg-container > div {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 25px;
    box-sizing: border-box;
}

.article-bg-container > h2 {
    color: var(--Dark-Blue);
    font-size: 36px;
    font-family: 'Public Sans', sans-serif;;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.article-bg-container > div img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

.article-bg-container > div div {
    padding: 0 30px;
    box-sizing: border-box;
}

.article-bg-container > div div h6 {
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-family: 'Public Sans', sans-serif;
    line-height: 0;
}

.article-bg-container > div div h3 {
    color: var(--Dark-Blue);
    font-size: 22px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    
}   
.article-bg-container > div div h3:hover {
    cursor: pointer;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.article-bg-container > div div h3 {
    line-height: 1;
}

/*Footer Section*/
.footer-bg-container {
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 40px 0;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.footer-social-media {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.footer-bg-container > div img {
    margin-right: 10px;
}

.footer-bg-container ul {
    list-style-type: none;
    color: var(--Light-Grayish-Blue);
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
img[type="svg"]:hover {
    cursor: pointer;
    
    filter: invert(63%) sepia(71%) saturate(474%) hue-rotate(83deg) brightness(93%) contrast(92%);
    
}
.footer-bg-container ul li {
    margin-top: 15px;
}

.footer-bg-container li:hover {
    cursor: pointer;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer-bg-container div button {
    width: 180px;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
}

.footer-bg-container p {
    font-size: 14px;
}

@media screen and (min-width: 992px) {

    .main-container {
        width: 100vw;
        box-sizing: border-box;
    }

    P {
        color: var(--Grayish-Blue);
        font-size: 20px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        line-height: 1.2;
    }

    .closeicon {
        display: none;
    }
    .nav-bar-header {
        height: 80px;
        background-color: var(--Very-Light-Gray);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }

    .nav-image-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 12% ;
        box-sizing: border-box;
    }
    .hamburger-menu{
        display: none;
    }
    .nav-bar-items{
        display: none;
    }
    .nav-bar-items1{
        padding-top: 30px;
        margin: 0;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        box-sizing: border-box;
        
    }    
    .nav-bar-items1 li {
        color: var(--Grayish-Blue);
        margin-right: 5%;
        height: 100%;
    }

    .nav-bar-items1 li:hover {
        cursor: pointer;
        border-bottom: 5px solid transparent;
        border-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
        border-image-slice: 1;
    }

    .button-header {
        padding-right: 7.15%;
        box-sizing: border-box;
    }
    .desktop-header-button {
        display: inline;
        box-sizing: border-box;
    }

    /* Heading Section and Mockup image*/
    .home-page-section-container {
        background-image: url("./images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
        background-position: 44vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        
    }

    .mockupimg {
        box-sizing: border-box;
        width: 100%;
    }
    .home-page-section-container-mockupimg {
        width: 100%;
        box-sizing: border-box;
    }    
    .home-page-container1 {
        width: 100%;
        box-sizing: border-box;
        padding-left: 12%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-page-container1 p {
        margin-right: 18%;
    }

    .home-page-container1-heading {
        color: var(--Dark-Blue);
        font-size: 50px;
        font-family: 'Public Sans', sans-serif;;
        font-weight: 300;
        line-height: 1.2;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Why Choose Us Section*/
    .wcb-background-container {
        background-color: var(--Light-Grayish-Blue);
        display: flex;
        width: 100%;
        padding-bottom: 30px;
        box-sizing: border-box; 
    }
    
    .wcb-background-container > div {
        box-sizing: border-box; 
        display: flex;
        justify-content: flex-start;  
        padding: 0 12%;   
    }
    
    .wcb-heading-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box; 
    }

    .wcb-background-container > div h2 {
        color: var(--Dark-Blue);
        font-size: 36px;
        font-family: 'Public Sans', sans-serif;;
        font-weight: 300;
        padding: 0;
        margin-top: 5%;
        box-sizing: border-box; 
        text-align: left;
        width: 100%;
    }
    
    .wcb-background-container > div h3 {
        color: var(--Dark-Blue);
        font-size: 28px;
        font-family: 'Public Sans', sans-serif;;
        font-weight: 100;
        box-sizing: border-box; 
        width: 100%;
    }

    .wcb-info-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        box-sizing: border-box; 
        padding: 0 12%;
    }

    .wcb-info-container div{
        width: 100%;
        text-align: left;
        box-sizing: border-box; 
        margin-top: 2%;
        margin-right: 2%;
    }

    /*Arcticle Section*/
    
    .article-bg-container {    
        width: 100vw;
        box-sizing: border-box;
        padding: 50px 0;
    }

    .article-bg-container > h2 {
        color: var(--Dark-Blue);
        font-size: 30px;
        font-family: 'Public Sans', sans-serif;;
        font-weight: 300;
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        padding: 0 12%;
    }

    .article-containers {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
    }
    .article-containers > div {
        margin-right: 2%;
    }
    .article-bg-container div div {
        padding: 0;
    }
    
    .article-bg-container > div {
        box-sizing: border-box;
        padding: 0;
        width: 100%;
        padding: 0 12%;
    }
    
    .article-bg-container > div div img {
        min-width: 90%;
        min-height: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
    }
    
    .article-containers > div div { /*text container of article*/
        width:  100%;
        box-sizing: border-box;
        padding: 8%;
    }
    
    .article-bg-container > div div h6 {
        color: var(--Grayish-Blue);
        font-size: 15px;
        font-family: 'Public Sans', sans-serif;
        width: 100%;
    }
    
    .article-bg-container > div div h3 {
        color: var(--Dark-Blue);
        font-size: 25px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 100;
        width: 100%;
    }   

    .article-bg-container > div div h3:hover {
        cursor: pointer;
        background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    .article-containers > p {
        width: 100%;
    }
    /* Footier Section*/
    .footer-bg-container {
        background-color: var(--Dark-Blue);
        width: 100vw;
        padding: 40px;
        margin-bottom: 10px;
    }
    
    .footer-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 12%;
        box-sizing: border-box;
    }

    .footer-social-media {
        margin-top: 25px;
    }
    img[type="svg"]:hover {
        cursor: pointer;
        
        filter: invert(63%) sepia(71%) saturate(474%) hue-rotate(83deg) brightness(93%) contrast(92%);
        
    }
    .footer-bg-container > div img {
        margin-top: 10px;
    }
    
    .footer-bg-container ul {
        list-style-type: none;
        color: var(--Light-Grayish-Blue);
        font-family: 'Public Sans', sans-serif;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 50%;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .footer-bg-container li:hover {
        cursor: pointer;
        background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .footer-container:nth-child(1) {
        text-align: left;
    }

    .footer-bg-container ul div {
        margin-right: 10%;
    }
    
    .footer-bg-container div button {
        width: 180px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }
    
    .footer-bg-container p {
        font-size: 14px;
    }
}